.calculator{
    display: flex;
    margin: 10% auto;
    flex-direction: column;
    width: 198px;
    box-sizing: border-box;
    .cache{
        display: flex;
        justify-content: flex-end;
    }
    input[type="text"]{
        margin: 5px;
        color : transparent;
        text-shadow : 0 0 0 #000;
        direction: rtl;
        &:focus{
            outline: none;
        }
    }
}

