
<div class="calculator">
    <h1>
      {{title}}
    </h1>
    <div class="cache" id="cache">cache</div>
    <input type="text"/>
    <!--<div class="btns">-->
        <app-num-btns></app-num-btns>
        
        <!--<button class="btn" id="CE">CE</button>
        <button class="btn" id="C">C</button>
        <button class="btn" id="backspace">&#8678;</button>
        <button class="btn" id="division">&divide;</button>
        <button class="btn num-btn" id="seven">7</button>
        <button class="btn num-btn" id="eight">8</button>
        <button class="btn num-btn" id="nine">9</button>
        <button class="btn" id="multiplication">&times;</button>
        <button class="btn num-btn" id="four">4</button>
        <button class="btn num-btn" id="five">5</button>
        <button class="btn num-btn" id="six">6</button>
        <button class="btn" id="minus">&minus;</button>        
        <button class="btn num-btn" id="one">1</button>
        <button class="btn num-btn" id="two">2</button>
        <button class="btn num-btn" id="three">3</button>
        <button class="btn" id="plus">&#43;</button>
        <button class="btn" id="empty">null</button>
        <button class="btn num-btn" id="zero">0</button>
        <button class="btn" id="comma">,</button>
        <button class="btn" id="equal">&#61;</button>        -->
    <!--</div>-->
</div>
